{% extends 'base.html.twig' %}

{% block title %}Articles index
{% endblock %}

{% block body %}

	<div class="container my-12 mx-auto px-4 md:px-12">
		<div class="flex flex-wrap -mx-1 lg:-mx-4">
			{% for article in articles %}
				<!-- Column -->
				<div
					class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">

					<!-- Article -->
					<article class="overflow-hidden rounded-lg shadow-lg">

						{% if article.pathImg %}
							<a href="{{path('app_articles_show', {'id': article.id} )}}">
								<img alt="Placeholder" class="block h-auto w-full" src="{{ vich_uploader_asset(article, 'imageFile') }}">
							</a>
						{% else %}
							<a href="{{path('app_articles_show', {'id': article.id} )}}">
								<img alt="Placeholder" class="block h-auto w-full" src="https://picsum.photos/600/400/?random">
							</a>
						{% endif %}

						<header class="flex items-center justify-between leading-tight p-2 md:p-4">
							<h1 class="text-lg">
								<a class="no-underline hover:underline text-black" href="{{path('app_articles_show', {'id': article.id} )}}">
									{{ article.title }}
								</a>
							</h1>
							<p class="text-grey-darker text-sm">
								{{ article.createdAt|date('d/m/Y')}}
							</p>
						</header>

						<footer class="flex items-center justify-between leading-none p-2 md:p-4">
							<a
								class="flex items-center no-underline hover:underline text-black" href="{{path('app_profil_show', {'id': article.user.id} )}}">
								<!--<img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">-->
								<p class="text-sm">
									{{ article.user.firstname ~ ' ' ~ article.user.lastname }}
								</p>
							</a>
							{% if app.user %}
								{% if app.user.id == article.user.id %}
									<a class="no-underline text-grey-darker hover:text-red-dark" href="{{path('app_articles_edit', {'id': article.id} )}}">
										<i class="fas fa-edit"></i>
									</a>
								{% endif %}
							{% endif %}

						</footer>

					</article>
					<!-- END Article -->

				</div>
				<!-- END Column -->
			{% endfor %}
		</div>
		{{ knp_pagination_render(articles, 'components/pagination.html.twig') }}
	</div>
{% endblock %}
